.unregistered-events-list {
    display: flex;
    width: 43vw;
    overflow: auto;
    flex-wrap: wrap;
}

.unregistered-events-title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin: 1rem
}